<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="admin/base::Layout(~{::section})">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="mt-5">
        <div class="container">
            <div class="jumbotron">
                <div class="text-start">
                    <i style="font-size: 25px !important;" class="fas fa-server"></i>&nbsp;<span style="font-size: 25px !important;">&nbsp;Machines</span>
                    <hr style="margin-top: 2px !important;">
                </div>
                <div class="text-end mb-2">
                  <a href="/admin/machine/new" class="btn btn-warning btn-sm"><i class="fas fa-plus"></i>&nbsp;Add New Machine</a>
                </div>
                <h1 th:if="${#lists.size(machines) == 0}" class="text-white" style="font-size: 25px !important;">There is not any machine to show, please add a new one.</h1>
                <div th:if="${#lists.size(machines) != 0}" style="border-bottom: 2px solid #5e72e4;" class="jumbotron">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th scope="col">#ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">IP</th>
                                <th scope="col">Servers</th>
                                <th scope="col">Location</th>
                                <th scope="col">Ram</th>
                                <th scope="col">Storage</th>
                                <th scope="col">Status</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr th:each="m : ${machines}">
                                <th scope="row"><a class="badge badge-primary" th:href="'/admin/machine?id='+${m.id}">#[(${m.id})]</a></th>
                                <td><a class="badge badge-warning badge-pill" th:href="'/admin/machine?id='+${m.id}">[(${m.name})]</a></td>
                                <td><a class="badge badge-primary badge-pill">[(${m.ipAddress})]</a></td>
                                <td><a th:href="'/admin/machine?id='+${m.id}" style="color: #5e72e4;" class="badge badge-neutral badge-pill">10</a></td>
                                <td><a th:href="'/admin/machine?id='+${m.id}" class="badge badge-warning badge-pill">[(${m.machineInfo.location})]</a></td>
                                <td><a th:href="'/admin/machine?id='+${m.id}" class="badge badge-success badge-pill">[(${m.machineInfo.totalRam})]</a></td>
                                <td><a th:href="'/admin/machine?id='+${m.id}" class="badge bg-default badge-pill">[(${m.machineInfo.totalStorage})]</a></td>
                                <td><a th:href="'/admin/machine?id='+${m.id}" th:classappend="${helper.isMachineOnline(m.ipAddress) ? 'badge bg-success badge-pill' : 'badge bg-danger badge-pill'}">[(${helper.isMachineOnline(m.ipAddress) ? 'Online' : 'Offline'})]</a></td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>