<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
th:replace="admin/base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <section class="mt-5">
    <div class="container">
        <div class="jumbotron">
            <span class="users-badge">
                <i class="fa-solid fa-circle-info"></i>&nbsp;User Information
            </span>
            <hr style="margin-top: 2px; color: white;">
            <div style="border-bottom: 5px solid #5e72e4;" class="card">
                <div style="padding: 5px; " class="card-header">
                    <div class="header">
                        <div class="text">
                          <i class="fas fa-user text-warning"></i> #[(${user.id})] ~ [(${user.fullName})]
                        </div>
                        <div class="header-buttons">
                          <a class="btn btn-success btn-sm">
                            <i class="fas fa-plus"></i>&nbsp;Assign New Server
                          </a>
                          <a onclick="showLoader()" th:if="${user.isEnabled}" th:href="'/admin?action=ban&userId='+${user.id}" class="btn btn-danger btn-sm">
                            <i class="fa-solid fa-ban"></i>&nbsp;Ban the user
                          </a>
                          <a onclick="showLoader()" th:if="${!user.isEnabled}" th:href="'/admin?action=unban&userId='+${user.id}" class="btn btn-warning btn-sm">
                          <i class="fa-solid fa-unlock"></i>&nbsp;Unban the user
                          </a>
                        </div>
                </div>
                <div class="card-body">
                 <div class="row">
                   <div class="col-lg-6 mb-5">
                    <div style="background-color: #323544 !important; box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset !important;" class="card">
                        <div class="card-header"><i class="fas fa-exlaimation">&nbsp;</i><i class="fa-solid fa-circle-info"></i>&nbsp;Profile Overview</div>
                        <div class="card-body">
                        Full Name: <span class="text-info">[(${user.fullName})]</span>
                        <br>
                        Email Address: <span class="text-info">[(${user.email})]</span>
                        <br>
                        Role: <span th:text="${user.role == 'ROLE_ADMIN' ? 'ADMIN' : 'NORMAL USER'}" class="text-info"></span>
                        <br>
                        Account: <span th:text="${user.isEnabled ? 'Active' : 'Suspended'}" th:classappend="${user.isEnabled ? 'badge badge-sm bg-success  glow-badge-success' : 'badge badge-sm badge-danger glow-badge-danger'}"></span>
                        </div>
                    </div>
                   </div>
                   <div class="col-lg-6 mb-5">
                    <div style="background-color: #323544 !important; box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset !important;" class="card">
                        <div class="card-header"><i class="fas fa-pie-chart"></i>&nbsp;Statistics</div>
                        <div class="card-body">
                            Assigned Servers: <span class="text-success">5</span>
                            <br>
                            Open Tickets: <span class="text-success">10</span>
                        </div>
                    </div>
                   </div>
                 </div>
                </div>
            </div>
        </div>
    </div>
  </section>
    
</body>
</html>