<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
th:replace="admin/base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="mt-5">
        <div class="container">
            <div class="card">
                <div class="card-header">Add New User</div>
                <div class="card-body">
                    <div class="text-start text-warning">
                        <i class="fas fa-circle-info text-warning"></i> Email must be valid, all credentials along password will be mail to the provided email address.
                    </div>
                    <form action="/admin/user/new" method="POST" class="row mt-3">
                            <div class="form-group col-6">
                              <label>Full Name</label>
                              <input type="text" name="fullName" class="form-control" placeholder="Full Name" required>
                            </div>

                            <div class="form-group col-6">
                                <label>Email Address</label>
                                <input type="email" name="fullName" class="form-control" placeholder="Email Address" required>
                              </div>

                              <div class="form-group col-6">
                                <label>Username</label>
                                <input type="text" name="fullName" class="form-control" placeholder="Username" required>
                              </div>

                              <div class="form-group col-6">
                                <label for="role">Select User Permission</label>
                                <select id="role" name="role" class="form-control" required>
                                    <option value="admin">Admin</option>
                                    <option value="user">User</option>
                                </select>
                              </div>

                              <div class="container text-center">
                                <button type="submit" class="btn btn-primary p-3 w-100">Add New User <i class="fas fa-plus"></i></button>
                              </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>