<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="mt-5">
    <div class="container">
        <div class="card">
            <div class="card-header">User Dashboard</div>
            <div class="card-body">
              <h1 style="font-size: 25px !important;" class="text-center text-white font-weight-bold">User dashbaord is still in the development. please be patient.</h1>
              <p class="text-white text-center">You can test support and other modules.</p>
              <p class="text-white text-center">We're trying our best to release <strong class="font-weight-bold">HyperSpaceGamePanel v1.0</strong> as soon as possible.</p>
            <p class="text-center" ><a href="https://github.com/mharisraza/HyperSpaceGamePanel/"><button class="btn btn-primary"><i class="fa-brands fa-github fa-beat-fade"></i> Source Code</button></a></p>

            </div>
        </div>
    </div>
</section>
    
</body>
</html>