:root{
    --bg-image: url("/images/background.jpg");
    --nav-bg: url("/images/nav-bg.jpg")
}

* {
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px!important;
    color: white ;
  }

  body {
    background-image: var(--bg-image);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* navbar related to style  */

.navbar {
    background: rgb(28, 33, 55, 0.8)!important;
    font-weight: 600;
    border-radius: 4px;
    margin-top: 40px;
    border-color: transparent!important;
}

.navbar-collapse.collapsing, .navbar-collapse.show {
    background-image: var(--nav-bg)!important;
}

.navbar-collapse .navbar-toggler span {
    background: white!important;
}

/* ======================  */

/* simple related styling  */

.jumbotron {
    background: rgb(28, 33, 55, 0.8)!important;
}

/* ======================  */

#orderServer > h1 {
    font-size: 25px !important;
    font-weight: bold;
}

/* forms and input related code  */

.form-control {
    background-color: #1c1e2a !important;
  }
  
  .input-group-text {
    background-color: transparent!important;
  }
  
  /* ====================  */

  /* dropdowns style  */

 .dropdown-menu {
    background-color: rgba(18, 21, 36, 0.94)!important;
    color: white !important;
    border-bottom: 5px solid #5e72e4 !important;
  }

  .navbar-nav .dropdown-menu:before {
    background-color: rgba(18, 21, 36, 0.94)!important;
    margin-top: 5px !important;
  }

  .dropdown-item:hover {
    background-color: transparent !important;
    color: white !important;
  }

  /* ======================  */

  /* user page  */
  .users-badge {
    font-size: 35px !important;
  }

  .users-badge > i {
    font-size: 35px !important;
  }
  
  