:root{
    --bg-image: url("/images/background.jpg");
    --nav-bg: url("/images/nav-bg.jpg")
}

* {
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px!important;
    color: white ;
  }

  body {
    background-image: var(--bg-image);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* navbar related to style  */

.navbar {
    background: rgb(28, 33, 55, 0.8)!important;
    font-weight: 600;
    border-radius: 4px;
    margin-top: 40px;
    border-color: transparent!important;
}

.navbar-collapse.collapsing, .navbar-collapse.show {
    background-image: var(--nav-bg)!important;
}

.navbar-collapse .navbar-toggler span {
    background: white!important;
}

/* ======================  */

/* simple related styling  */

.jumbotron {
    background: rgb(28, 33, 55, 0.8)!important;
}

/* ======================  */

#orderServer > h1 {
    font-size: 25px !important;
    font-weight: bold;
}

/* forms and input related code  */

.form-control {
    background-color: #1c1e2a !important;
  }
  
  .input-group-text {
    background-color: transparent!important;
  }
  
  /* ====================  */

  
/* scroll bar related code */
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 2px #5e72e4 !important;
        border-radius: 10px;
      }
      
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #5e72e4 !important;
        border-radius: 10px;
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: white;
      }
      
      /* =====================  */