<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="mt-5">
        <div class="container">
            <div class="jumbotron text-center">
                <h1 style="font-size: 35px !important;" class="text-white font-weight-bold">404 Not Found</h1>
                <p style="font-size: 20px !important;" class="font-weight-bold">You're here probably because you're lost, now get back to home by clicking below button.</p>
                <a class="btn btn-primary" href="/">Go To Home <i class="fas fa-sign-in"></i></a>
            </div>
        </div>
    </section>
</body>
</html>