<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="mt-5">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <div class="jumbotron">
                        <div class="text-center">
                            <h1 class="font-weight-bold text-white" style="font-size: 18px !important;">🎉 HyperSpaceGamePanel Installed Successfully 🎉</h1>
                            <p>To continue, you can register user with admin panel access below. 👇</p>
                        </div>
                            <form th:object="${user}" class="row" action="/addAdmin" method="POST">

                                <!-- Full Name field  -->
                                <div class="col-12">
                                    <label>Full Name</label>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input name="fullName" class="form-control" placeholder="John Doe"
                                                type="text"
                                                th:classappend="${#fields.hasErrors('fullName') ? 'is-invalid' : ''}">
                                            <div class="invalid-feedback" th:if="${#fields.hasErrors('fullName')}"
                                                th:each="e : ${#fields.errors('fullName')}" th:text="${e}">
                                            </div>
                                        </div>
    
    
                                    </div>
                                </div>
                                <!-- Full Name Field end  -->
    
    
                                <!-- Email address field  -->
                                <div class="col-6">
                                    <label>Email Address</label>
                                    <div class="form-group">
                                        <div class="input-group mb-4">
                                            <input name="email" class="form-control" placeholder="johndoe@example.com"
                                                type="email"
                                                th:classappend="${#fields.hasErrors('email') ? 'is-invalid' : ''}">
                                                
                                                <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}"
                                                th:each="e : ${#fields.errors('email')}" th:text="${e}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Email address field end  -->
    
                                <!-- Username address field  -->
                                <div class="col-6">
                                    <label>Username</label>
                                    <div class="form-group">
                                        <div class="input-group mb-4">
                                            <input name="username" class="form-control" placeholder="Username"
                                                type="text"
                                                th:classappend="${#fields.hasErrors('username') ? 'is-invalid' : ''}">
                                                
                                                <div class="invalid-feedback" th:if="${#fields.hasErrors('username')}"
                                                th:each="e : ${#fields.errors('username')}" th:text="${e}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Username field end  -->
    
                                <!-- Password field  -->
                                <div class="col-6">
                                    <label>Password</label>
                                    <div class="form-group">
                                        <div class="input-group mb-4">
                                            <input name="password" class="form-control" placeholder="Password"
                                                type="password"
                                                th:classappend="${#fields.hasErrors('password') ? 'is-invalid' : ''}"
                                                >
                                                <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}"
                                                th:each="e : ${#fields.errors('password')}" th:text="${e}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- password field end  -->
    
                                <!-- Confirm Password field  -->
                                <div class="col-6">
                                    <label>Confirm Password</label>
                                    <div class="form-group">
                                        <div class="input-group mb-4">
                                            <input th:field="*{confirmPassword}" name="confirmPassword" class="form-control"
                                                placeholder="Confirm Password" type="password"
                                                th:classappend="${#fields.hasErrors('confirmPassword') ? 'is-invalid' : ''}"
                                                >
                                                <div class="invalid-feedback" th:if="${#fields.hasErrors('confirmPassword')}"
                                                th:each="e : ${#fields.errors('confirmPassword')}" th:text="${e}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Confirm password field end  -->
    
                                <!-- submit button  -->
                                <div class="container text-center">
                                    <button type="submit" class="btn btn-primary w-100 p-3">Add Admin User&nbsp;<i
                                            class="fa fa-sign-in"></i></button>
                                </div>
                                <!-- submit button end  -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</body>
</html>