<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:fragment="Layout(content)">
  <head>
    <!-- Author:- https://github.com/mharisraza | https://harisraza.com/ -->

    <!-- JQuery -->
    <script type="text/javascript" src="/js/jquery.js"></script>
    <!-- ========= -->

    <!-- Web Logo -->
    <link rel="icon" type="image/x-icon" href="/images/logo.png">
    <!--=========-->

    <!--Custom CSS Plus FrameWork CSS-->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!-- <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"> -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.modified.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--===========-->

    <!-- JavaScript Custom Plus FrameWork -->
    <script type="text/javascript" src="/js/script.js"></script>
    <script type="text/javascript" src="/js/alerts.js"></script>
    <!--=============-->

    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>[(${title})]</title>
  </head>
  <body>

    <input type="hidden" id="status" th:value="${session.status}">
	<th:block th:if="${session.status}"
		th:text="${#session.removeAttribute('status')}"></th:block>

    <div th:replace="${content}"></div>

    <!-- FrameWork JS(s) -->
	<script src="/js/popper.js"></script>
	<script src="/js/bootstrap.min.js"></script>
  </body>
</html>
