<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::Layout(~{::body})">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>



      <!-- main-features  -->
    <div class="container">
        <div class="jumbotron main-feature">
            <div class="row">
                <div class="col-md-3 text-center features">
                    <i class="fa-solid fa-ticket"></i>
                    <h1>24/7 SUPPORT</h1>
                    <p>By purchasing one or more servers, you get support that is online 24 hours a day.</p>
                </div>

                <div class="col-md-3 text-center features">
                    <i class="fa-solid fa-shield-halved"></i>
                    <h1>Security</h1>
                    <p>Server security and maintaining data integrity is of paramount importance to our company.</p>
                </div>

                <div class="col-md-3 text-center features">
                    <i class="fa fa-map"></i>
                    <h1>Game Panel</h1>
                    <p>Our control panel is customized for all beginners, while offering extras for those more advanced.</p>
                </div>

                <div class="col-md-3 text-center features">
                    <i class="fa fa-wallet"></i>
                    <h1>Guarantee</h1>
                    <p>If you find that we have not used you in accordance with our rules, you will refund your money within 5 days.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- main features end  -->
    

</body>
</html>