<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::body})">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header text-center">
                        <i class="fa-solid fa-user-plus custom-icons"></i>&nbsp;Register
                    </div>
                    <div class="card-body">
                        <form th:object="${user}" class="row" action="/create-account" method="post">

                            <!-- Full Name field  -->
                            <div class="col-md-6">
                                <label>Full Name</label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input name="fullName" class="form-control" placeholder="John Doe"
                                            type="text"
                                            th:classappend="${#fields.hasErrors('fullName') ? 'is-invalid' : ''}">
                                        <div class="invalid-feedback" th:if="${#fields.hasErrors('fullName')}"
                                            th:each="e : ${#fields.errors('fullName')}" th:text="${e}">
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <!-- Full Name Field end  -->


                            <!-- Email address field  -->
                            <div class="col-md-6">
                                <label>Email Address</label>
                                <div class="form-group">
                                    <div class="input-group mb-4">
                                        <input name="email" class="form-control" placeholder="johndoe@example.com"
                                            type="email"
                                            th:classappend="${#fields.hasErrors('email') ? 'is-invalid' : ''}">
                                            
                                            <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}"
                                            th:each="e : ${#fields.errors('email')}" th:text="${e}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Email address field end  -->

                            <!-- Password field  -->
                            <div class="col-md-6">
                                <label>Password</label>
                                <div class="form-group">
                                    <div class="input-group mb-4">
                                        <input name="password" class="form-control" placeholder="Password"
                                            type="password"
                                            th:classappend="${#fields.hasErrors('password') ? 'is-invalid' : ''}"
                                            >
                                            <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}"
                                            th:each="e : ${#fields.errors('password')}" th:text="${e}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- password field end  -->

                            <!-- Confirm Password field  -->
                            <div class="col-md-6">
                                <label>Confirm Password</label>
                                <div class="form-group">
                                    <div class="input-group mb-4">
                                        <input th:field="*{confirmPassword}" name="confirmPassword" class="form-control"
                                            placeholder="Confirm Password" type="password"
                                            th:classappend="${#fields.hasErrors('confirmPassword') ? 'is-invalid' : ''}"
                                            >
                                            <div class="invalid-feedback" th:if="${#fields.hasErrors('confirmPassword')}"
                                            th:each="e : ${#fields.errors('confirmPassword')}" th:text="${e}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Confirm password field end  -->

                            <!-- submit button  -->
                            <div class="container text-center">
                                <button type="submit" class="btn btn-primary w-75">Register&nbsp;<i
                                        class="fa fa-sign-in"></i></button>
                            </div>
                            <!-- submit button end  -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>