<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::body})">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 ">
                <div class="card mx-auto">
                    <div class="card-header text-center">
                        <i class="fa-solid fa-unlock custom-icons"></i>&nbsp;Reset Password
                    </div>
                    <div class="card-body">
                        <form class="row" action="/resetPassword" method="post">

                            <!-- Password field  -->
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="input-group mb-4">
                                        <input name="password" class="form-control" placeholder="New Password"
                                            type="password">
                                            
                                    </div>
                                </div>
                            </div>
                            <!-- Password field end  -->

                            <!-- Confirm Password field  -->
                            <div class="col-12">
                                <div class="form-group">
                                    <div class="input-group mb-4">
                                        <input name="confirmPassword" class="form-control" placeholder="New Confirm Password"
                                            type="password">     
                                    </div>
                                </div>
                            </div>
                            <!-- Confirm password field end  -->

                            <!-- submit button  -->
                            <div class="container text-center">
                                <button type="submit" class="btn btn-primary w-75">Reset Password&nbsp;<i
                                        class="fa fa-sign-in"></i></button>
                            </div>
                            <!-- submit button end  -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>